.tab__container {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 20px 0 ;
  background-color: #121212;
  color: white;
  padding: 10px ;
  svg {
    color: white;
  }

}

.title {
  font-size: large;
  font-weight: 600;
}
