.footer {
  background-color: #121212;
  color: white;
  padding-top: 50px;


  .header {
    text-transform: capitalize;
    font-weight: 900;
  }

  ul {
    padding: 0;
  }

  ul li {
  }

  a {
    color: white;
    text-decoration: none;
  }

  svg {
    margin-right: 5px;
  }


}

// apps 
.flex__icon {
    display: flex;
    align-items: center;
}

// pages
.pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #121212;
  padding: 10px;
  border-top: white solid 2px ;
}


