/*===========================
------ Genral Styling
------ Title Effect 
=============================*/

/* Genral Styling */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.titleParent {
  display: flex;
  justify-content:center;
  background-color: white;
  margin: 20px 0 ;
}

/* Title Effect */
.title {
  display: inline-block;
  font-weight: 300;
  color: #121212;
  font-size: 36px;
  text-transform: capitalize;
  pointer-events: none;
  transition: transform 0.1s linear;
  font-weight: 500;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: gray;
  border-radius: 50%;
  mix-blend-mode: difference ;
  transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(8);
}
.hover-this {
  transition: all 0.3s ease;
}

/* sliders */
.slick-arrow {
  background-color: #121212 !important;
  border-radius: 50% !important;
}


/* skeleton  */
.skeleton__multi {
  margin-top: 50px;
}


.margin__foooter {
  margin-top: 200px;
}

