.productItem {
    margin-top: 20px;
    border-top: 16px #121212 solid;

    .actions {
        background-color: #121212 ;
    }
    button {
        border-color: #121212 !important;
    }
    svg {
        color : #fff
    }
    .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .qty {
        width: 100%;
    }
}


