.wrapper {
    background-color: #121212;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: 600;
    flex-direction: column;
    color: white;
    margin: 10px 0;

    .line {
        width: 80%;
        height: 50px;
        position: relative;
        overflow: hidden;

        span {
            position: absolute;
            font-size: 2rem;
        
        }
    }


}
