.main {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  svg {
    font-size: 140px;
    color: white;
  }

  .card {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }

  .showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headline {
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    svg {
      font-size: 80px;
      color: white;
    }
  }
}
